<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FirstName</key>
		<string>Joey</string>
		<key>LastName</key>
		<string>Nessif</string>
	</dict>
	<dict>
		<key>FirstName</key>
		<string>Piper</string>
		<key>LastName</key>
		<string>Chapman</string>
	</dict>
	<dict>
		<key>FirstName</key>
		<string>Hillary</string>
		<key>LastName</key>
		<string>Clinton</string>
	</dict>
</array>
</plist>
